# Dependencies to render the Copilot website needed by mkdocs.
mkdocs-macros-plugin
mkdocs-static-i18n
mkdocs-redirects
mkdocs
mkdocs-material
pymdown-extensions
mkdocs-git-revision-date-plugin
mkdocs-glightbox
mkdocs-material-extensions