span.title {
  font-weight: bold;
}

span.em {
  font-weight: bold;
}

.separator {
  border-bottom: 1px solid #e3e8ee;
}

a.field {
  font-weight: 600;
  /* color: #3c4257; */
  font-size: .8rem;
}

span.parent-field {
  font-weight: 600;
  color:#a3acb9;
  font-size: .85em;
}

span.type {
  color: #8792a2;
  font-size: .7rem;
  margin-right: 4px;
}

:root {
  --md-admonition-icon--code-preview: url('data:image/svg+xml;charset=utf-8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 91.26" style="enable-background:new 0 0 122.88 91.26" xml:space="preserve"><style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;}</style><g><path class="st0" d="M8.32,0h106.24c4.58,0,8.32,3.74,8.32,8.32v74.62c0,4.57-3.74,8.32-8.32,8.32H8.32C3.74,91.26,0,87.51,0,82.94 V8.32C0,3.74,3.74,0,8.32,0L8.32,0z M54.46,72.22L32,58.61v-8.63l22.46-13.61v10.26l-13.65,7.69l13.65,7.7V72.22L54.46,72.22z M68.42,72.22l22.46-13.61v-8.63L68.42,36.37v10.26l13.65,7.69l-13.65,7.7V72.22L68.42,72.22z M117.97,23.29H5.29v60.46 c0,0.64,0.25,1.2,0.67,1.63c0.42,0.42,0.99,0.67,1.63,0.67h108.04c0.64,0,1.2-0.25,1.63-0.67c0.43-0.43,0.67-0.99,0.67-1.63V23.29 H117.97L117.97,23.29z M106.64,9.35c2.27,0,4.11,1.84,4.11,4.11c0,2.27-1.84,4.11-4.11,4.11c-2.27,0-4.11-1.84-4.11-4.11 C102.54,11.19,104.38,9.35,106.64,9.35L106.64,9.35z M78.8,9.35c2.27,0,4.11,1.84,4.11,4.11c0,2.27-1.84,4.11-4.11,4.11 c-2.27,0-4.11-1.84-4.11-4.11C74.69,11.19,76.53,9.35,78.8,9.35L78.8,9.35z M92.72,9.35c2.27,0,4.11,1.84,4.11,4.11 c0,2.27-1.84,4.11-4.11,4.11c-2.27,0-4.11-1.84-4.11-4.11C88.61,11.19,90.45,9.35,92.72,9.35L92.72,9.35z"/></g></svg>');
  --md-admonition-icon--event-preview: url('data:image/svg+xml;charset=utf-8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><g><path d="M656.5,927.4V990h-313v-62.6c0-34.6,28-62.6,62.6-62.6h62.6V452.2c-36.4-13-62.6-47.3-62.6-88.1c0-51.8,42.1-93.9,93.9-93.9c51.8,0,93.9,42.1,93.9,93.9c0,40.8-26.3,75.2-62.6,88.1v412.6h62.6C628.5,864.8,656.5,892.8,656.5,927.4z M345.1,518.9l22,22.1l44.4-44.3l-22.1-22.1c-61-61-61-160.3,0-221.3l22.1-22.1L367.2,187l-22.1,22.1C259.6,294.5,259.6,433.5,345.1,518.9z M300.8,164.9l22.1-22.1l-44.3-44.3l-22.1,22.1c-134.2,134.2-134.2,352.6,0,486.8l22.1,22.1l44.3-44.2l-22.1-22.1C190.9,453.4,190.9,274.7,300.8,164.9z M212.3,76.4l22.1-22.1L190.2,10l-22.1,22.1c-183,183-183,480.8,0,664l22.1,22.1l44.3-44.2l-22.1-22.1C53.6,493.2,53.6,234.9,212.3,76.4z M610.6,474.7l-22.1,22.1l44.4,44.3l22-22.1c85.5-85.5,85.5-224.5,0-309.8L632.8,187l-44.2,44.2l22.1,22.1C671.7,314.4,671.7,413.7,610.6,474.7z M743.4,120.6l-22.1-22.1L677,142.8l22.1,22.1c109.8,109.8,109.8,288.5,0,398.3L677,585.3l44.3,44.3l22.1-22.1C877.6,473.2,877.6,254.9,743.4,120.6z M831.9,32.1L809.8,10l-44.3,44.3l22.1,22.1c158.6,158.6,158.6,416.6,0,575.4L765.5,674l44.3,44.2l22.1-22.1C1014.9,513,1014.9,215,831.9,32.1z"/></g></svg>');
}

.md-typeset .admonition.code-preview,
.md-typeset details.code-preview {
  border-color: rgb(43, 155, 70);
}
.md-typeset .admonition.event-preview,
.md-typeset details.event-preview {
  border-color: rgb(43, 155, 70);
}
.md-typeset .code-preview > .admonition-title,
.md-typeset .code-preview > summary {
  background-color: rgba(43, 155, 70, 0.1);
  border-color: rgb(43, 155, 70);
}
.md-typeset .event-preview > .admonition-title,
.md-typeset .event-preview > summary {
  background-color: rgba(43, 155, 70, 0.1);
  border-color: rgb(43, 155, 70);
}
.md-typeset .code-preview > .admonition-title::before,
.md-typeset .code-preview > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--code-preview);
          mask-image: var(--md-admonition-icon--code-preview);
}
.md-typeset .event-preview > .admonition-title::before,
.md-typeset .event-preview > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--event-preview);
          mask-image: var(--md-admonition-icon--event-preview);
}



.md-header {
  background-color: #232844;
  color: white;
}
.md-search__input {
  background: #4E5E90;
}

.focus-visible {
  color: white;
}

